.sml_width
{
    max-width: 65px !important;
}
.span_close,.span_delete{
	left:10px;
}
.span_show{
	left:5px;
}
.show_thirty{
    width: 35%;
    left: 15%;
    display:none;
    overflow: auto;
    background: #757E88;
    z-index: 2;
    position: absolute;
}
.dataTables_length label,.dataTables_filter label{
    color: #fff;
}
.dataTables_length select{
	color: #333;
}
.show_date p{
	text-align: center;
}
.error_msg{
    color: #F1904F;
}
.show_date{
    width: 60%;
    display:none;
    height:auto;
    min-height:30px;
    z-index: 2;
    background: #757E88;
    position: absolute;
    left: 18%;
}
.show_ninety{
	width: 35%;
    left: 40%;
    display:none;
    overflow: auto;
    background: #757E88;
    z-index: 2;
    position: absolute;
}
.email_div,.choose_img{
	display: none;
}
.show_thirty table th,.show_ninety table th{
    background-color:#EC8948 !important;
}
.show_thirty table,.show_ninety table{
	width:100%;
}

/*************************Qualification popup***************************/
#mytable2 {
	border: 1px solid white;
	width: 100%;
	margin-bottom: 20px;
}
.no_expired{
    font-size: 13px;
    color: #df691a;
    margin-left: 10px;
    margin-bottom:0px;
}
.history{
    margin-top: 45px;
}
#expired_license{
	border: 1px solid white;
	display: table;
	width:50%;
}
#expired_license th{
    background-color: #df691a;
    border: 1px solid white;
    text-align: center;
    padding: 5px 0px;
}
#expired_license td{
	padding: 5px 0px;
	border: 1px solid white;
    text-align: center;
}
#mytable3, #mytable4 {
	width: 100%;
}
#mytable3 a, #mytable4 a {
	text-decoration: none;
}
.popup_td_div3 {
	position: relative;
	bottom: 2px;
	left: 3px;
	display: inline-block;
}
.border_div .row .col-md-3{
	padding: 0px;
}
.popup_td_div4 {
	position: relative;
	top: 3px;
	font-size: 11px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 80px;
}
.choose_img{
	margin-right: 5px !important;
}
.send_email{
    margin-left: 5px;
    padding: 2px 10px;
}
.email_to{
    margin: 3px;
    height: 25px;
}
#mytable2 th {
	background-color: #df691a;
	border: 1px solid white;
	text-align: center;
	padding: 5px 0px;
}
#mytable2 td {
	border: 1px solid white;
	text-align: center;
	padding: 5px 0px;
}
.popup_div{
	z-index: 2;
	border-bottom: none !important;
	font-size: 12px;
	background: #df691a;
	border:1px solid;
	display: inline-block;
	padding: 3px 10px;
	margin-top: 25px;
	margin-bottom: -1px;
	cursor: pointer;
}
.popup_btn{
	border-radius: 4px;
	border: 1px solid white;
	font-size: 12px;
	color: #000;
	display: inline-block;
	padding: 1px 6px;
}
.popup_div_uploads{
	display: inline-block;
	padding: 2px 5px;
}
.popup_save_btn{
	float: right;
	color: #000;
	margin-left: 10px;
}
.thirty,.ninety{
	cursor:pointer;
}
.popup_browse_btn{
	color: #000;
	margin-left: 10px;
	margin-top: 10px;
}
.span_btn{
	color: #df691a;
}
.span_btn:hover{
	cursor: pointer;
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
	color: white;
}
.popup_div_btn{
	border-top: 1px solid; 
	border-bottom: 1px solid; 
	position: relative; 
	bottom: -35px; 
	padding: 5px 0;
}
.popup_span{
	position: absolute;
	bottom: 0;
	font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.popup_span .modified,.popup_span .create{
	font-size: 11px;
}
.span_close, .span_show,.span_delete{
	position: relative;
	top: 1px;
    font-size: 13px;
}
#file{
	display: none;
}
.popup_btn:hover {
	border: 1px solid #df691a;
	background: #df691a;
	cursor: pointer;
	color: white;
	box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
.border_div {
	padding: 5px;
	border: 1px solid white;
}
.popup_date {
	margin-bottom: 5px;
}
/*************************Qualification popup end***************************/
body {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.page-header {
	margin-top: 0px;
}
.page-header h1 small {
	color: #667382;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.nowrap {
	white-space: nowrap;
}

.panel>.list-group .list-group-item {
	display: block !important;
}
.panel>.list-group .list-group-item:hover {
	background-color: #485563;
}

.nav-tabs {
	border-bottom: 1px solid #4E5D6C;
}

[data-location] .panel-heading .btn {
	padding: 2px 4px;
	margin-top: -2px;
}
[data-team] h5 {
	margin: 0px;
	line-height: 24px;
}
[data-team] .modal-link, [data-team] .delete-link {
	padding: 2px 4px;
}
.delete-team-player-link, [data-employee], [data-vehicle] {
	margin-top: 3px;
	padding: 2px 4px;
}

.tab-content {
	margin-top: 15px;
}

.page-header .datepicker {
	width: 120px;
}
.datepicker {
	border-radius: 0px;
}
.datepicker table tr td, .datepicker table tr th, .datepicker table tr td span {
	border-radius: 0px;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused, .datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover, .datepicker table tr td span:hover {
	background-color: #485563;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
	background-color: #DF691A;
	border-color: #DF691A;
}
.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active:active.focus, .datepicker table tr td.active:active:focus, .datepicker table tr td.active:active:hover, .datepicker table tr td span.active.active.focus, .datepicker table tr td span.active.active:focus, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active.focus, .datepicker table tr td span.active.disabled.active:focus, .datepicker table tr td span.active.disabled.active:hover, .datepicker table tr td span.active.disabled:active.focus, .datepicker table tr td span.active.disabled:active:focus, .datepicker table tr td span.active.disabled:active:hover, .datepicker table tr td span.active.disabled:hover.active.focus, .datepicker table tr td span.active.disabled:hover.active:focus, .datepicker table tr td span.active.disabled:hover.active:hover, .datepicker table tr td span.active.disabled:hover:active.focus, .datepicker table tr td span.active.disabled:hover:active:focus, .datepicker table tr td span.active.disabled:hover:active:hover, .datepicker table tr td span.active:active.focus, .datepicker table tr td span.active:active:focus, .datepicker table tr td span.active:active:hover, .datepicker table tr td span.active:hover.active.focus, .datepicker table tr td span.active:hover.active:focus, .datepicker table tr td span.active:hover.active:hover, .datepicker table tr td span.active:hover:active.focus, .datepicker table tr td span.active:hover:active:focus, .datepicker table tr td span.active:hover:active:hover {
	background-color: #B15315;
	border-color: #B15315;
}

.datepicker-dropdown:before {
    border-bottom: 7px solid rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
.datepicker-dropdown:after {
    border-bottom: 6px solid #4E5D6C;
}

#permissions .checkbox {
	display: inline-block;
	width: 50%;
	line-height: 21px;
}

.popover {
	max-width: 600px;
}
.popover-content pre {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: inherit;
    background-color: transparent;
    border: 0px;
}